* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 48px 64px;
}

h1 {
  font-family: 'Coiny', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 6px;
}

ul {
  list-style: none;
}

/* MAIN LAYOUT */
.container {
  max-width: 1500px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 16px 0;
}

.category {
  margin-bottom: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px;
  border-radius: 12px;
}

.tag {
  font-family: 'Coiny', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: #6e6863;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #282726;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  border: none;
  border-radius: 100px;
  color: inherit;
  cursor: pointer;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-1.7deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-color: #44403c;
  background-image: none;
}

.fact-form input {
  width: 230px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px 16px 16px 20px;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
}

.fact-form select {
  width: 230px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px 16px 16px 20px;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%23fafaf9'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  cursor: pointer;
}

.fact-form input::placeholder {
  color: #c4c1be;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #44403c;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
}

.modal p {
  margin-bottom: 24px;
}

.modal button {
  padding: 12px 24px;
}

.loading {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

.modal-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.btn-x {
  background: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

@media (max-width: 1100px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input,
  .fact-form select {
    width: auto;
  }
  .fact-form span {
    text-align: right;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }
  .main {
    grid-template-columns: 1fr;
  }
}
